*{
    box-sizing: border-box;
    margin: 0;
}

#root{
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

#win-panel{
    position: absolute;
    bottom: 0px;
    background: #1a4ad9;
    z-index: 100;
}
#desktop{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
ul>li{
    background:white;
color:blue;
}
ul>li:hover{
background:blue;
color:white;
}
.win-file{
    padding:10px;
}